* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-width: 100vw;
  background: center/cover no-repeat url(../img/background.jpg);
}

svg:hover {
  cursor: pointer;
}

/* ---------------------------------------------------------------HEADER--------------------------------------------------------------- */

header {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: 100px;
}

.logo a {
  text-decoration: none;
  color: #c5c5c5;
}

.logo img {
  height: 75px;
  width: 75px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-right: 100px;
  background-color: #ace6ae94;
  border-radius: 25px;
  height: 50px;
  width: 500px;
  transition: ease-in-out 0.3s;
}

.nav:hover {
  box-shadow: rgba(172, 230, 174, 0.4) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 40px;
  width: 110px;
  background-color: #e6dcb1;
  border-radius: 20px;
  transition: ease-in-out 0.3s;
}

.menu:hover {
  cursor: pointer;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: absolute;
  z-index: 2;
  border-radius: 10px;
  top: 100px;
  right: 123px;
  background-color: #e6dcb1;
  width: 200px;
  height: 170px;
  text-align: center;
  visibility: hidden;
}

.active {
  visibility: visible;
}

.nav-menu a {
  text-decoration: none;
  color: #3d3d3d;
  cursor: pointer;
  width: 100%;
}

.nav-menu a:hover {
  background-color: #e4e0cc;
}

.nav-menu span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #3d3d3d;
  border-radius: 5px;
}

/* ---------------------------------------------------------------MAIN--------------------------------------------------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
  margin: 100px 200px 0 0;
  color: #3d3d3d;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 510px;
  width: 770px;
  background-color: rgba(172, 230, 174, 0.6);
  border-radius: 40px;
  gap: 1.2rem;
}

.where-container {
  width: 650px;
  height: 87px;
}

.where-container input {
  width: 650px;
  height: 60px;
  border: 1px solid #3d3d3d;
  border-radius: 10px;
  background: none;
  font-size: 1.5rem;
  padding: 0 0 5px 20px;
}

.where-container input:focus {
  outline: none;
}

.where-container input::placeholder {
  font-size: 1rem;
}

.check-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 650px;
}

.check-in-container {
  width: 315px;
  height: 87px;
}

.check-in-container input {
  width: 315px;
  height: 60px;
  border: 1px solid #3d3d3d;
  border-radius: 10px;
  background: none;
  font-size: 1.5rem;
  padding: 0 0 5px 20px;
  cursor: text;
}

.check-in-container input:focus {
  outline: none;
}

.check-out-container {
  width: 315px;
  height: 87px;
}

.check-out-container input {
  width: 315px;
  height: 60px;
  border: 1px solid #3d3d3d;
  border-radius: 10px;
  background: none;
  font-size: 1.5rem;
  padding: 0 0 5px 20px;
  cursor: text;
}

.check-out-container input:focus {
  outline: none;
}

.guest-submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 650px;
}

.guest-container {
  width: 315px;
  height: 87px;
}

.guest-container input {
  width: 315px;
  height: 60px;
  border: 1px solid #3d3d3d;
  border-radius: 10px;
  background: none;
  font-size: 1.5rem;
  padding: 0 0 5px 20px;
}

.guest-container input:focus {
  outline: none;
}

.guest-container input::placeholder {
  font-size: 1rem;
}

.submit-container {
  width: 315px;
  height: 87px;
}

.submit-container button {
  margin-top: 28.8px;
  width: 315px;
  height: 62px;
  border: none;
  border-radius: 10px;
  background-color: #e6dcb1;
  font-size: 1.3rem;
  color: #3d3d3d;
  cursor: pointer;
}

.submit-container button:hover {
  border: #3d3d3d 1px solid;
}
