* {
    margin-left: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lay Grotesk", Arial, sans-serif;
}
-----Nav-bar-----
.navbar-white {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.navbar-white .nav-links li a {
    color: #000;
}



--------------

.navbar-white {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  }
  .navbar-white .nav-links li a {
    color: #000;
  }
  
  .navbar-white .register-btn {
    background: #12b803d0;
    color: #fff;
  }
  
  nav.navbar-white .fa-bars {
    color: #000;
  }
  
  .navbar-white .active::after {
    background: #12b803d0;
  }
  
  .list-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .left-col {
    flex-basis: 70%;
  }
  
  .right-col {
    flex-basis: 25%;
  }
  
  .left-col h1 {
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .house {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
  }
  
  .house-img {
    flex-basis: 40%;
  }
  
  .house-info {
    flex-basis: 58%;
    color: #555;
  }
  
  .house-img img {
    width: 100%;
    border-radius: 12px;
  }
  
  .house-info h3 {
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 6px;
  }
  
  .house-info ion-icon {
    color: #12b803d0;
    font-size: 25px;
    margin: 10px 1px;
  }
  
  .house-price {
    text-align: right;
  }
  
  .house-price h4 {
    font-size: 20px;
  }
  
  .house-price h4 span {
    font-size: 16px;
    font-weight: 500;
  }
  
  .sidebar {
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
  }
  
  .sidebar h2 {
    font-weight: 500;
  }
  
  .sidebar h3 {
    font-weight: 500;
    margin: 20px 0 10px;
  }
  
  .filter {
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
  }
  
  .filter p {
    flex: 1;
  }
  
  .filter input {
    margin-right: 15px;
    cursor: pointer;
  }
  
  .sidebar-link {
    text-align: right;
    margin: 20px 0;
  }
  
  .sidebar-link a {
    text-decoration: none;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
  }
  
  .pagination img {
    width: 15px;
    margin: 10px 20px;
  }
  
  .right-arrow {
    transform: rotate(180deg);
  }
  
  .pagination span {
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .pagination .current {
    background: #333;
    color: #fff;
  }
  
  /* for small screen devices */
  
  @media only screen and (max-width: 700px) {
    .list-container {
      margin-top: 150px;
    }
    .left-col,
    .right-col,
    .house-img,
    .house-info {
      flex-basis: 100%;
    }
    .left-col h1 {
      font-size: 22px;
    }
    .house-info h3 {
      font-size: 18px;
    }
    .house-info i {
      font-size: 16px;
    }
    .pagination span {
      margin: 10px 2px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
    }
  }
  
  .house-details {
    padding: 0 12%;
  }
  
  .house-title {
    margin-top: 50px;
  }
  
  .house-title h1 {
    font-weight: 600;
  }
  
  .house-title .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
  }
  
  .house-title span {
    margin: 0 20px;
  }
  
  .house-title ion-icon {
    color: #12b803d0;
    font-size: 14px;
  }
  
  .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "first first . ." "first first . .";
    margin: 20px 0;
  }
  
  .gallery div img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  
  .gallery-img-1 {
    grid-area: first;
  }
  
  .small-details h2 {
    font-weight: 500;
  }
  
  .small-details h4 {
    text-align: right;
    font-size: 22px;
  }
  
  .line {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;
  }
  
  .check-form {
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
  }
  .check-button {
    margin-left: 250px;
  }

  
  .check-form label {
    display: block;
  }
  
  .check-form div {
    padding: 20px;
  }
  
  .check-form input {
    background: transparent;
    border: 0;
    outline: none;
  }
  
  .check-form button {
    background: #12b803d0;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 350px;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .guest-field {
    flex: 1;
  }
  
  .details-list {
    list-style: none;
    margin: 50px 0;
  }
  
  .details-list li {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
  }
  
  .details-list li span {
    display: block;
    font-weight: 400;
    font-size: 16px;
  }
  
  .details-list li ion-icon {
    position: absolute;
    top: 5px;
    left: -40px;
    color: #12b803d0;
    font-size: 14px;
  }
  
  .home-desc {
    font-size: 20px;
    max-width: 800px;
    margin-bottom: 50px;
  }
  
  .map {
    margin: 50px 0;
  }
  
  .map iframe {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .map h3 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  .map b {
    display: block;
    margin-bottom: 16px;
  }
  
  .host {
    display: flex;
    align-items: center;
  }
  
  .host img {
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
  }
  
  .host h2 {
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .host ion-icon {
    color: #12b803d0;
  }
  
  .contact-host {
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border: 1px solid #12b803d0;
    border-radius: 8px;
  }
  
  /* for small screen devices */
  
  @media only screen and (max-width: 700px) {
    .house-details {
      margin-top: 150px;
    }
    .row p {
      margin-top: 10px;
    }
    .gallery {
      grid-template-columns: "first first" ". ." ". .";
    }
    .small-details h2 {
      font-size: 20px;
      margin-top: 24px;
    }
    .small-details h4 {
      text-align: left;
      margin: 10px 0;
      font-size: 18px;
    }
    .check-form {
      padding: 10px 30px;
    }
    .check-form div {
      padding: 20px 0;
      width: 100%;
    }
    .check-form input {
      border-bottom: 1px solid #ccc;
      width: 100%;
      padding-bottom: 5px;
    }
    .check-form button {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 15px;
      border-radius: 4px;
    }
    .host {
      display: block;
      line-height: 28px;
    }
    .contact-host {
      margin: 40px 0;
    }
  }



  -----------details------------
  .house-details {
    padding: 0 12%;
  }

  .house-title {
    margin-top: 50px;
  }

  .house-title h1 {
    font-weight: 600;
  }

  .house-title .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
  }

  .house-title span {
    margin: 0 20px;
  }

  .house-title ion-icon {
    color: #12b803d0;
    font-size: 20px;
  }

  .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "first first . ." "first first . .";
    margin: 20px 0;
  }

  .gallery div img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }

  .gallery-img-1 {
    grid-area: first;
  }

  .small-details h2 {
    font-weight: 500;
  }

  .small-details h4 {
    text-align: right;
    font-size: 22px;
  }

  .line {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;
  }
