* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  background: center/cover no-repeat url(background.png);
  color: white;
}

header {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: 50px;
}

.logo img {
  height: 75px;
  width: 75px;
}

.nav {
  display: flex;
  gap: 1.5rem;
  margin-right: 50px;
}

.nav a {
  text-decoration: none;
  color: white;
}

.menu {
  display: flex;
  gap: 1.5rem;
}
